ul.s2_blogs { 
	float: left;
	width: 99%;
}

ul.s2_blogs li {
	background-color: #E3E3E3;
	border:1px solid #E0E0E0;
	display: block;
	float: left;
	margin: 3px;
	padding: 0.5em;
	position: relative;
	white-space: nowrap;
	width: 47%;
}

ul.s2_blogs li: hover {
	border-color: #666;
}

ul.s2_blogs li .name {
	display: block;
	float: left;
}

ul.s2_blogs li .buttons {
	display: block;
	float: right;
	margin-left: -6px;
	white-space: nowrap;
	font-size: .8em;
}

ul.s2_blogs li .buttons a {
	display: block;
	float: left;
	padding: .1em .5em;
	background-color: #666;
	color: white;
	margin: 0 0 0 1em;
}

ul.s2_blogs li .buttons a:hover {
	background-color: whitesmoke;
	color: #666;
}